# Used to make a method that allows accessing partialTick anywhere
public net.minecraft.client.Minecraft f_91013_ # pausePartialTick

# Used to access the container slots that were part of a "QUICK_CRAFT", aka drag operation
public net.minecraft.world.inventory.AbstractContainerMenu f_38847_ # quickcraftSlots